body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 33%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1.header {
    text-align: center;
    margin: 50px 0;
}

.register__link {
    margin-bottom: 30px;
    text-align: center;
}
.login-error {
    text-align: center;
    background-color: salmon;
    font-weight: 400;
    padding: 20px;
}