.Main {
    width: 100%;
    display: flex;
}

.Main-section__wrapper {
    width: 80%;
    padding: 50px 0;
    margin: 0 auto;
}

.Cards__wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.task_btn {
    width: 100%;
}
