.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.5;
}
.modal.active {
    transform: scale(1);
}
.modal-content{
    width: 300px;
    border: 2px gainsboro solid;
    background-color: #fff;
    padding: 50px;
}

input {
    text-align: center;
    padding: 0;
}

select {
    background-color: #fff;
    height: 30px;
    width: 96%;
    margin-bottom: 35px;
}

textarea {
    width: 96%;
    height: 115px;
    resize: none;
    margin-bottom: 35px;
    font-size: 14px;
}

.buttons_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    width: 45%;
}